:root {
  --main-bg-color: #1f1f1f;
  --vecko-green: #26ed83;
  --less-emphasis-grey: #989898;
  --summary-backing: #292929;
}

* {
  margin: 0;
  padding: 0;
}






footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

body {
  min-height:100vh;
  position:relative; 
  margin: 0;
  padding: 0;

  font-family: Poppins;
  color: white;
  background-color: var(--main-bg-color);
}

body::after {
  content: '';
  display: block;
  height: 3em; /* Set same as footer's height */
}

.footer {
  margin: auto;
  text-align: center;
  height: 3em;
}

.footer, .footer * {
  color: var(--less-emphasis-grey);
}

.main {
  /* Main section */
  padding: 2em;
}

a {
  color: white;
}


.post-preview {
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--less-emphasis-grey);
  border-radius: 1em;

  width: 45em;
  margin: 1em 0;
  padding: 1em;
  background-color: var(--summary-backing);

  /* height: 15.5em;for when image is added */
  height: 10em;
  overflow: hidden;
  user-select: none;
}

.post-preview:hover {
  transform: scale(1.03);
  transition: all 0.05s ease-in-out;
}

.post-date {
  color: var(--less-emphasis-grey);
}

.post-summary {
  font-size: 0.8em;
}

/* Header */
.navbar {
  padding-top: 1em;
  padding-bottom: 1em;

  background-color: var(--main-bg-color);
  color: var(--vecko-green);

  display: inline-flex;
  align-items: stretch;
  width: 100%;

  border-bottom: 0.1em solid var(--vecko-green);
}

.navbar a {
  color: var(--vecko-green);
  text-decoration: none;
  align-self: center;
}

.navbar > * {
  padding-left: 2em;
  padding-right: 2em;
}

a.nav-item {
  transition: all 0.05s ease-in-out;
}

a.nav-item:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.site-title {
  font-size: 1.6em;
  font-weight: bolder;
}

/* HEADER STUFF */
.title {
  /* Formatting for Nick Hodgskin */
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
  margin: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0.5em;
  font-size: 1.3em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
  /* margin-bottom: 0.5em; */
}

h3 {
  font-size: 1.5em;
}

.post-preview h2{
  font-size: 1.5em;
  display: inline;
  margin-right: 1em;
}

.tags-container {
  padding: 0.5em 0;
}
.tag,
.series {
    font-family: Consolas;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
}
.tag:hover,
.series:hover{
  text-decoration: underline;
}

.tag {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
}
.skew {
    display: inline-flex;
    transform: skewX(-15deg);
}

.unskew {
  transform: skewX(15deg);
}

.series {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 0.2em;
}



/* Post preview buttons */
.post-preview-buttons {
  display: inline;
  float: right;
}
.post-preview-buttons > * {
  padding: 0 0.1em 0 0.1em;
}
/* Hover effects */
.post-preview-buttons .fa.button:hover {
  filter: grayscale(0);
}

.post-preview-buttons .fa.button {
  font-size: 3em;
  text-decoration: none;
  border-radius: 0.1em;
  transition: 0.1s ease-in-out;
}

/* GitHub and YouTube post preview buttons*/
.post-preview-buttons .fa-github-square.button, .fa-youtube-square.button {
  text-align: center;
  color: var(--less-emphasis-grey);
  background: var(--summary-backing);
}

.post-preview-buttons .fa-github-square.button:hover {
  color: #800080;
}

.post-preview-buttons .fa-youtube-square.button:hover {
  color: #ff0000;
}

.github-purple{
  background-color: #800080;
}
.youtube-red{
  background-color: #ff0000;
}

.main {
  width: 80%;
  margin: auto;
}
