:root {
  --main-bg-color: #1f1f1f;
  --vecko-green: #26ed83;
  --less-emphasis-grey: #989898;
  --summary-backing: #292929;
}

.vecko-bg {
  background: var(--vecko-green);
}

.vecko-text {
  color: var(--vecko-green);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
}

a,
a:hover {
  color: inherit;
}

/* Header */
.navbar {
  border-bottom: 0.1em solid var(--vecko-green);
}

.site-title,
.site-title:hover {
  color: var(--vecko-green);
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bolder;
}

/* HEADER STUFF */
.title {
  /* Formatting for Nick Hodgskin */
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
  margin: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0.5em;
  font-size: 1.3em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
  /* margin-bottom: 0.5em; */
}

h3 {
  font-size: 1.5em;
}

#title {
  /* text-align: center; */
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: 200;
  font-style: normal;
}

/* TAGS */
.tag,
.series {
  font-family: Consolas;
  text-decoration: none;
  border-radius: 0.2em;
}

.tag:hover,
.series:hover {
  text-decoration: underline;
}

.skew {
  display: inline-flex;
  transform: skewX(-15deg);
}

.unskew {
  transform: skewX(15deg);
}

.github-purple {
  background-color: #800080;
}
.youtube-red {
  background-color: #ff0000;
}
