:root {
  --main-bg-color: #1f1f1f;
  --vecko-green: #26ed83;
  --less-emphasis-grey: #989898;
  --summary-backing: #292929;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: Poppins;
  color: white;
  background-color: var(--main-bg-color);
}

.main {
  /* Main section */
  padding: 2em;
}

a {
  color: white;
}


.post-preview {
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--less-emphasis-grey);
  border-radius: 1em;

  margin: 1em 0;
  padding: 1em;
  background-color: var(--summary-backing);

  /* height: 15.5em;for when image is added */
  height: 10em;
  overflow: hidden;
  user-select: none;
}

.post-date {
  color: var(--less-emphasis-grey);
}

.post-summary {
  font-size: 0.8em;
}

/* Header */
.navbar {
  padding-top: 1em;
  padding-bottom: 1em;

  background-color: var(--main-bg-color);
  color: var(--vecko-green);

  display: inline-flex;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;

  border-bottom: 0.1em solid var(--vecko-green);
}

.navbar a {
  color: var(--vecko-green);
  text-decoration: none;
  align-self: center;
}

.navbar > * {
  padding-left: 2em;
  padding-right: 2em;
}

a.nav-item {
  transition: all 0.05s ease-in-out;
}

a.nav-item:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.site-title {
  font-size: 1.6em;
  font-weight: bolder;
}

/* STYLING SEARCH BAR */
form.search-container input {
  border-radius: 0;
  border-style: solid;
  background-color: var(--less-emphasis-grey);
  height: 1.6em;
}

.nav-search {
  align-self: center;
}

.posts-search {
  /* CSS for search bar in posts page */
}

/* HEADER STUFF */
.title {
  /* Formatting for Nick Hodgskin */
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
  margin: 0.1em;
}

h1 {
  font-size: 2.25em;
  font-weight: 600;
  margin: 0;
}

h2 {
  display: inline;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  margin-right: 1em;
  /* margin-bottom: 0.5em; */
}

h3 {
  display: inline;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  margin-right: 1em;
  /* margin-bottom: 0.5em; */
}

.tags-container {
  padding: 0.5em 0;
}
.tag,
.series {
    font-family: Consolas;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
}
.tag {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.8em;
}

.series {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 0.2em;
}

/* Font awesome icons */

/* Add a hover effect if you want */
.fa.button:hover {
  filter: grayscale(0);
}

.fa.button {
  font-size: 3em;
  text-decoration: none;
  border-radius: 0.1em;
  transition: 0.1s ease-in-out;
}

/* GitHub and YouTube post preview buttons*/
.fa-github-square.button, .fa-youtube-square.button {
  text-align: center;
  color: var(--less-emphasis-grey);
  background: var(--summary-backing);
}

.fa-github-square.button:hover {
  color: #800080;
}

.fa-youtube-square.button:hover {
  color: #ff0000;
}

.post-preview-buttons {
  display: inline;
  float: right;
}
.post-preview-buttons > * {
  padding: 0 0.1em 0 0.1em;
}

.footer {
  margin: auto;
  text-align: center;
  height: 3em;
}

.footer, .footer * {
  color: var(--less-emphasis-grey);
}