.hot-off-the-press {
  padding-top: 3em;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.more-posts-button {
  align-self: flex-end;
  background-color: var(--vecko-green);
  color: black;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.3em;
}

.more-posts-button:hover {
  text-decoration: underline;
}

.welcome-container{
  width: 80%;
  margin: auto;
  padding-bottom: 3em;
}

#welcome {
  text-align: center;
  font-size: 2.25em;
  font-weight: 600;
  margin: 0;
  /* padding-left: 30%;
  padding-right: 30%; */
}

#vecko-image {
  display: block;
  width: 20em;
  margin: auto;
  padding: 2em 0 2em 0;
}

#tagline{
  text-align: center;
}

#hot-off-the-press{
  
}

.no-fresh{
  width: 45em;
  color: #989898;
  text-align: center;
}
