{{ define "custom-head" }}
    <link rel="stylesheet" href='{{"css/posts.css" | absURL}}'>
{{ end }}

{{ define "main" }}
    <h1>Posts</h1>
    This is the posts list template
    {{ .Content }}
    {{ partial "searchposts.html" "posts-search"}}
    <div class="posts-page-container">
        <div class="nav-by-tag">
            <div class="browse-by-container">
                <!-- List of tags + counts -->
                <p class="browse-by">Browse by tag</p>
                {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                    <div class="badge-count">
                        {{ partial "badges/tag.html" (.Page.Title) }} (x{{ $taxonomy.Count }})
                    </div>
                {{end}}
            </div>
            <hr>
            <div class="browse-by-container">
                <!-- List of series + counts -->
                <p class="browse-by">Browse by series</p>
                {{ range $name, $taxonomy := .Site.Taxonomies.series }}
                    <div class="badge-count">
                        {{ partial "badges/series.html" ($name | humanize) }} (x{{ $taxonomy.Count }})</a>
                    </div>

                {{end}}
            </div>
        </div>
        <div class="post-previews">
            {{ range .Pages }}
                {{ partial "postpreview.html" . }}
            {{ end }}
        </div>
    </div>

{{end}}
