{{ define "custom-head" }}
    <link rel="stylesheet" href='{{"css/post-single.css" | absURL}}'>
{{ end }}

{{ define "main" }}
    <h1>
        {{ .Title }}
    </h1>
    {{ if .Params.series }}
        <div>
            Series: {{ partial "badges/series.html" .Params.series }}
        </div>
    {{ end }}
    
    <div id="posted-date">
        <i class="fa fa-calendar" aria-hidden="true" style="padding-right: 0.5em;"></i>Posted {{ time.Format "2 January 2006 @ 3:04pm" .Date }}
    </div>
    <div id="reading-time">
        <i class="fa fa-coffee" aria-hidden="true" style="padding-right: 0.4em;"></i>{{printf "%d min" .ReadingTime}}
    </div>

    {{ if .Params.series }}
    <div>
        {{ range .Params.tags }}
        {{ partial "badges/tag.html" . }}
        {{ end }}
    </div>
    {{ end }}

    <div>
        {{ if .Params.youtube}}
        <a href="{{.Params.youtube}}">Youtube</a>
        {{end}}
        {{ if .Params.github}}
        <a href="{{.Params.github}}">GitHub</a>
        {{end}}


    </div>
    <h2>
        {{ time.Format "Jan 2, 2006 @ 3:04pm" .Date }}
    </h2>
    <h3>Reading time: </h3>

    

    {{ .Content }}
{{end}}