{{ define "custom-head" }}
    <link rel="stylesheet" href='{{"css/post-single.css" | absURL}}'>
{{ end }}

{{ define "main" }}
<article>
    <h1 id="title">
        {{ .Title }}
    </h1>
    {{ if .Params.series }}
        <div>
            {{ partial "badges/series.html" .Params.series }}
        </div>
    {{ end }}
    
    {{ if .Params.tags }}
    <div id="tag-container" class="py-2">
        {{ range .Params.tags }}
        {{ partial "badges/tag.html" . }}
        {{ end }}
    </div>
    {{ end }}
    <div id="post-data" class="text-muted">
        <div>
            <i class="bi bi-calendar-date-fill pe-2"></i> Posted {{ time.Format "2 January 2006 @ 3:04pm" .Date }}
        </div>
        <div>
            <i class="bi bi-hourglass-split pe-2"></i> {{printf "%d min" .ReadingTime}}
        </div>
    </div>


    {{ if or .Params.youtube .Params.github}}
        <div class="container px-0 my-2">
            <!-- External links -->
            {{ if .Params.youtube }}
            <a title="Go to YouTube video" href="{{ .Params.youtube }}" class="btn btn-youtube my-1"><i class="bi bi-youtube"></i> YouTube</a>
            {{ end }}
            
            {{ if .Params.github }}
            <a title="Go to GitHub repo" href="{{ .Params.github }}" class="btn btn-github my-1"><i class="bi bi-github"></i> GitHub Repo</a>
            {{ end }}
        </div>
    {{ end }}
    
    <section class="article-body">
        {{ .Content }}
    </section>
</article>

<script src='{{"js/progress-bar.js" | absURL}}'></script>

{{end}}