{{ define "custom-head" }}
    <link rel="stylesheet" href='{{"css/post-single.css" | absURL}}'>
{{ end }}

{{ define "main" }}
<article>
    <h1 id="main-title">
        {{ .Title }}
    </h1>
    {{ if .Params.series }}
        <div>
            Series: {{ partial "badges/series.html" .Params.series }}
        </div>
    {{ end }}
    
    {{ if .Params.tags }}
    <div class="tag-container">
        {{ range .Params.tags }}
        {{ partial "badges/tag.html" . }}
        {{ end }}
    </div>
    {{ end }}
    <div id="posted-date">
        <i class="fa fa-calendar" aria-hidden="true" style="padding-right: 0.5em;"></i>Posted {{ time.Format "2 January 2006 @ 3:04pm" .Date }}
    </div>
    <div id="reading-time">
        <i class="fa fa-coffee" aria-hidden="true" style="padding-right: 0.4em;"></i>{{printf "%d min" .ReadingTime}}
    </div>


    {{ if or .Params.youtube .Params.github}}
        <div class="buttons-container">
            {{ if .Params.youtube}}
            {{ partial "buttons/youtube.html" .Params.youtube }}
            {{end}}
            
            {{ if .Params.github}}
            {{ partial "buttons/github.html" .Params.github }}
            {{end}}
        </div>
    {{ end }}
    
    <section class="article-body">
        {{ .Content }}
    </section>
</article>
{{end}}