<div class="post-preview" style="border-style: solid; cursor: pointer; margin: 1em;" onclick="location.href={{ .Permalink }}">
    <h2>{{ .Title }}</h2>
    <p>{{ time.Format "Jan 2, 2006" .Date }}</p>
    {{ if .Params.youtube }}
        <a href="{{ . }}"> Youtube</a>
    {{ end }}
    {{ if .Params.github }}
        <a href="{{ . }}"> Github</a>
    {{ end }}
    <br>
    {{ if .Params.tags }}
        Tags:
        {{ range .Params.tags }}
            <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
        {{ end }}
        <br>
    {{ end }}
    {{ if .Params.series }}
        Series:
        <a href='{{ "/series/" | relLangURL }}{{ .Params.series | urlize }}'>{{ .Params.series }}</a>
    {{ end }}
    
    <p>{{ .Summary }}</p>
</div>