<div class="post-preview" style="border-style: solid; margin: 1em;" >
    <div onclick="location.href={{ .Permalink }}" style="cursor: pointer">
        <h2>{{ .Title }}</h2>
        <p>{{ time.Format "Jan 2, 2006" .Date }}</p>
    </div>
    {{ if .Params.youtube }}
        <a href="{{ . }}"> Youtube</a>
    {{ end }}
    {{ if .Params.github }}
        <a href="{{ . }}"> Github</a>
    {{ end }}
    <br>
    {{ if .Params.series }}
        {{ partial "badges/series.html" .Params.series }} || 
    {{ end }}
    {{ if .Params.tags }}
        {{ range .Params.tags }}
            {{ partial "badges/tag.html" . }}
        {{ end }}
    {{ end }}
    <br>
    
    
    <p>{{ .Summary }}</p>
</div>