{{ define "custom-head" }}
    <link rel="stylesheet" href='{{"css/index.css" | absURL}}'>
{{ end }}

{{ define "main" }}
<div class="container-fluid text-center">
    <h1>Welcome to the home of</h1>
    <img class="img-fluid py-5 w-50" src='{{"images/vecko-written.svg" | absURL}}' alt="An image of the word Vecko handwritten">
    <p class="text-center">a site of maths, data science, and computational exploration</p>
</div>

<div class="container-lg py-5">
    <h2>Hot off the press</h2>
    <!-- Finding posts by reverse date -->
    {{ $press_empty := true }}
    {{ range (and (where .Site.RegularPages "Type" "posts")).ByDate.Reverse }}
        <!-- Checking post is in the last month. -->
        {{ if and (lt .Date.Unix now.Unix) (gt .Date.Unix (sub now.Unix 2678400))}}
            {{ $press_empty = false }}
            {{ partial "postpreview.html" . }}
        {{end}}
    {{ end }}
    {{ if $press_empty }}
        <div class="text-center text-muted m-5">
            Nothing fresh off the press, check back later 😁
        </div>
    {{ end }}
    <div>
    <a class="btn btn-primary text-dark vecko-bg ms-auto" href='{{ "posts" | absURL }}'>
        More posts <i class="bi bi-arrow-right"></i>
    </a>
    </div>


</div>
{{end}}